obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
bin/Debug/netcoreapp2.2/DataStructures.dll
bin/Debug/netcoreapp2.2/DataStructures.pdb
bin/Debug/netcoreapp2.2/DataStructures.deps.json
bin/Debug/netcoreapp2.2/DataStructures.runtimeconfig.json
bin/Debug/netcoreapp2.2/DataStructures.runtimeconfig.dev.json
obj/DataStructures.csproj.nuget.cache
obj/DataStructures.csproj.nuget.g.props
obj/DataStructures.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/DataStructures.dll
obj/Debug/netcoreapp2.2/DataStructures.pdb
obj/Debug/netcoreapp2.2/DataStructures.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/DataStructures.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/DataStructures.assets.cache
obj/Debug/netcoreapp2.2/DataStructures.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/DataStructures.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/DataStructures.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
